@page
@model ResendEmailConfirmationModel

@{
    ViewData["Title"] = "Resend Email";
}

<div id="logreg-forms">
    @{
        <form id="external-account" method="post" class="form-horizontal">
            <h1 class="h3 mb-3 font-weight-normal text-primary text-center">Resend Email</h1>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Input.Email" placeholder="Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Resend</button>
        </form>
 
    }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

