@page
@model ResetPasswordModel

@{
    ViewData["Title"] = "Reset password";
}

<div id="logreg-forms">
    @{
        <form method="post">
            <h1 class="h3 mb-3 font-weight-normal text-primary text-center">@ViewData["Title"]</h1>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Input.Code" type="hidden" />
            <div class="form-group">

                <input asp-for="Input.Email" placeholder="Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Input.Password" placeholder="Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Input.ConfirmPassword" placeholder="Confirm Password" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Reset</button>
        </form>

    }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}